<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>news</title>
</head>

<body>
    <h1>NRK</h1>
    <span id="content">{{#each articles}}
        <h2>{{this.title}}</h2>
        <a href="{{this.link}}">{{this.link}}</a>
        <p>{{this.pub_date}}</p>
    {{/each}}</span>
</body>
</html>
